<a href="https://colab.research.google.com/github/AinaraAM/Listas_Tuplas_Set_Dicc/blob/main/Listas_Tuplas_Set_Dicc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**LISTAS**

In [ ]:
# Definir una lista de tipo str
nombres = ['Alicia','Chantell','Roxana', 'Oliris']
# imprimir la lista nombres
print(nombres)

['Alicia', 'Chantell', 'Roxana', 'Oliris']

In [ ]:
# acceder a los elementos de un a lista
print(nombres[0])
print(nombres[1])

Alicia
Chantell

In [ ]:
nombres = ['Alicia','Chantell','Roxana', 'Oliris']

In [ ]:
# acceder a los elementos de manera inversa
print(nombres[-1])
print(nombres[-2])

In [ ]:
nombres = ['Alicia','Chantell','Roxana', 'Oliris']

In [ ]:
print(nombres[0:3]) 
print(nombres[1:3])
print(nombres[:-2])

['Alicia', 'Chantell', 'Roxana']
['Chantell', 'Roxana']
['Alicia', 'Chantell']

In [ ]:
nombres = ['Alicia','Chantell','Roxana', 'Oliris']

In [ ]:
nombres.insert(0, "Valentina")

In [ ]:
nombres

['Valentina', 'Alicia', 'Chantell', 'Roxana', 'Oliris']

In [ ]:
#Cambiar un valor
nombres[0] = 'Cristal'
print(nombres)

#iterar una lista
for nombre in nombres:
    print(nombre)
else:
    print('No existen más nombres en la lista')

['Cristal', 'Chantell', 'Roxana', 'Ainara']

In [ ]:
# preguntar el largo de una lista
print(len(nombres))

4

In [ ]:
nombres = ['Cristal', 'Chantell', 'Roxana', 'Ainara']

In [ ]:
# agregar un elemento
nombres.append('Alicia')

In [ ]:
nombres.append('Oliris')
print(nombres)

['Cristal', 'Chantell', 'Roxana', 'Ainara', 'Alicia', 'Oliris']

In [ ]:
print(len(nombres))

6

In [ ]:
['Cristal', 'Chantell', 'Roxana', 'Ainara', 'Alicia', 'Oliris']

In [ ]:
# remover el último valor agregado
nombres.pop()
print(nombres)

['Cristal', 'Chantell', 'Roxana', 'Ainara', 'Alicia']

In [ ]:
nombres.pop()

'Cristal'

In [ ]:
print(nombres)

[]

In [ ]:
nombres = ['Cristal', 'Chantell', 'Roxana', 'Ainara', 'Alicia']
print(nombres)

['Cristal', 'Chantell', 'Roxana', 'Ainara', 'Alicia']

In [ ]:
# eliminar un indice
del nombres[1:]
print(nombres)

['Cristal', 'Ainara', 'Alicia']

In [ ]:
print(nombres)

['Cristal', 'Chantell', 'Roxana', 'Ainara', 'Alicia']

In [ ]:
# limpiar la lista
nombres.clear()
print(nombres)

[]

In [ ]:
nombres = ['Cristal', 'Chantell', 'Roxana', 'Ainara', 'Alicia']

In [ ]:
print(nombres)

['Cristal', 'Chantell', 'Roxana', 'Ainara', 'Alicia']

In [ ]:
# borrar la lista por completo
del nombres

In [ ]:
nombres = ['Cristal', 'Chantell', 'Roxana', 'Ainara', 'Alicia']

In [ ]:
print(nombres)

['Cristal', 'Chantell', 'Roxana', 'Ainara', 'Alicia']

#**TUPLAS**

In [ ]:
#Definir una tupla
frutas = ('Naranja', 'Plátano', 'Guayaba','Pera','Manzana')
print(frutas)

('Naranja', 'Plátano', 'Guayaba', 'Pera', 'Manzana')

In [ ]:
print(len(frutas))

5

In [ ]:
('Naranja', 'Plátano', 'Guayaba', 'Pera', 'Manzana')

In [ ]:
#acceder a un elemento
print(frutas[4])

Manzana

In [ ]:
# navegación inversa
print(frutas[-3])

Guayaba

In [ ]:
('Naranja', 'Plátano', 'Guayaba', 'Pera', 'Manzana')

In [ ]:
# acceder a un rango
print(frutas[2:3])# sin incluir el último índice

('Guayaba',)

In [ ]:
#recorrer elementos
for fruta in frutas:
    print(fruta, end=' ')

In [ ]:
('Naranja', 'Plátano', 'Guayaba', 'Pera', 'Manzana')

In [ ]:
frutasLista = list(frutas)
print(frutasLista)

['Naranja', 'Plátano', 'Guayaba', 'Pera', 'Manzana']

In [ ]:
frutasLista[0] = 'Mango'

In [ ]:
print(frutasLista)

['Mango', 'Plátano', 'Guayaba', 'Pera', 'Manzana']

In [ ]:
frutas = tuple(frutasLista)
print(frutas)

('Mango', 'Plátano', 'Guayaba', 'Pera', 'Manzana')

In [ ]:
print(frutas)

('Mango', 'Plátano', 'Guayaba', 'Pera', 'Manzana')

In [ ]:
#cambiar valor tupla
# frutas[0] = 'Pera'
frutasLista = list(frutas)
frutasLista[0] = 'Pera'
frutas = tuple(frutasLista)
print('\n',frutas)

 ('Pera', 'Plátano', 'Guayaba', 'Pera', 'Manzana')

In [ ]:
#eliminar la tupla
del frutas

NameError: ignored

In [ ]:
print(frutas)

NameError: ignored

#**SET**

In [ ]:
# set
planetas = {'Marte', 'Júpiter', 'Venus'}
print(planetas)
#largo
print(len(planetas))

{'Marte', 'Venus', 'Júpiter'}
3

In [ ]:
# revisar si un elemento está presente
print('Venus' in planetas)

True

In [ ]:
# agregar un elemento
planetas.add('Tierra')
print( planetas)

{'Marte', 'Venus', 'Tierra', 'Júpiter'}

In [ ]:
planetas.add('Neptuno')

In [ ]:
print( planetas)

{'Venus', 'Neptuno', 'Júpiter', 'Marte', 'Tierra'}

In [ ]:
#no se pueden duplicar elementos
planetas.add('Tierra')
print(planetas)

{'Venus', 'Neptuno', 'Júpiter', 'Marte', 'Tierra'}

In [ ]:
# eliminar elemento posiblemente arrojando un error
planetas.remove('Venus')
print(planetas)

{'Neptuno', 'Júpiter', 'Marte'}

In [ ]:
# eliminar elemento sin arrojar error
planetas.discard('Júpiter')

In [ ]:
print(planetas)

In [ ]:
# limpiar set
planetas.clear()
print(planetas)

set()

In [ ]:
planetas.add('Tierra')
print(planetas)

{'Tierra'}

In [ ]:
planetas.update(['tierra','jupiter', 3])
print(planetas)

{'Venus', 3, 4, 5, 6, 'jupiter', 'Marte', 'tierra'}

In [ ]:
# eliminar el set
del planetas

In [ ]:
print(planetas)

NameError: ignored

#**DICCIONARIO**

In [ ]:
# dict (key, value)
diccionario = {
    'IDE':'Integrated Development Environment',
    'OOP':'Object Oriented Programming',
    'DBMS':'Database Management System'
}
print(diccionario)
#largo
print(len(diccionario))

{'IDE': 'Integrated Development Environment', 'OOP': 'Object Oriented Programming', 'DBMS': 'Database Management System'}
3

In [ ]:
# acceder a un elemento (key)
print( diccionario['IDE'])
# otra forma de recuperar un elemento
print(diccionario.get('OOP'))

Integrated Development Environment
Object Oriented Programming

In [ ]:
# modificando elementos
diccionario['IDE'] = 'esto es una prueba'
print(diccionario)

{'IDE': 'esto es una prueba', 'OOP': 'Object Oriented Programming', 'DBMS': 'Database Management System'}

In [ ]:
# recorrer los elementos
for t, in diccionario.items():
    print(t, v)

IDE esto es una prueba
OOP Object Oriented Programming
DBMS Database Management System

In [ ]:
for j in diccionario.keys():
    print(j)

IDE
OOP
DBMS

In [ ]:
for valor in diccionario.values():
    print(valor)

esto es una prueba
Object Oriented Programming
Database Management System

In [ ]:
# comprobar existencia de algún elemento
print('IDE' in diccionario)

True

In [ ]:
# agregar un elemento
diccionario['python'] = 'hola mundo'
print(diccionario)

{'IDE': 'esto es una prueba', 'OOP': 'Programacion Orientada a Objetos', 'DBMS': 'Database Management System', 'PK': 'Primary Key', 'python': 'hola mundo'}

In [ ]:
# remover un elemento
diccionario.pop('python')
print(diccionario)

{'IDE': 'esto es una prueba', 'OOP': 'Programacion Orientada a Objetos', 'PK': 'Primary Key'}

In [ ]:
# limpiar
diccionario.clear()
print(diccionario)

{}

In [ ]:
# eliminar el diccionario
del diccionario
print(diccionario)

NameError: ignored